# Dataset
DATASET_PATH = "./dataset"
TEST_SIZE = 0.15
VAL_SIZE = 0.10

# Preprocessing
NOISE = False
SEGMENT = False

# Feature extraction
LBP = True
GLCM = True
HSV = True
GABOR = True
SIFT = False
HU = False
HOG = False
SUPERPIXEL = False

# Plotting
VISUALIZE = False
